*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: jetmono;
    src: url(../assets/fonts/jetMono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: mainfont;
    src: url(../assets/fonts/mainFont/kantumruy-pro-khmer-300-normal.woff);
}

body{
    font-family: mainfont;
}